# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [35]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key
g_key

'AIzaSyD9_OYNMKv_6h6AE63NX299Ccm6ko_OhxM'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [21]:
data_raw = pd.read_csv("..\WeatherPy\output_data\cities.csv")
data_raw = data_raw.set_index("city_id")
data_raw.index.name = None
#data_raw["locations"] = data_raw["lat"].astype(str) + ", " + data_raw["lng"].astype(str)
data_raw.head()

,city,cloudiness,country,date,humidity,lat,lng,max_temp,wind_speed
0,New Norfolk,67,AU,1619134730,61,-42.7826,147.0587,53.01,4.00
1,São Filipe,54,CV,1619134731,72,14.8961,-24.4956,72.61,9.80
2,Liverpool,9,GB,1619134702,54,53.4106,-2.9779,51.80,6.91
3,Bredasdorp,1,ZA,1619134734,93,-34.5322,20.0403,51.80,2.30
4,Kumul,99,CN,1619134537,31,42.8000,93.4500,46.02,6.20

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [141]:
gmaps.configure(api_key=g_key)

locations = data_raw[["lat", "lng"]]
weights = data_raw["humidity"]

fig = gmaps.figure(center=(10, 0), zoom_level=1.75)
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights, max_intensity=125, dissipating=True))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

* For example:
  * A max temperature lower than 80 degrees but higher than 70.

  * Wind speed less than 10 mph.

  * Zero cloudiness.

  * Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
  
  **Note:** Feel free to adjust to your specifications but be sure to limit the number of rows returned by your API requests to a reasonable number.

In [101]:
humidity_limit = 80
wind_speed_limit = 5
cloudiness_limit = 10
max_temp_min = 70
max_temp_max = 95



w_criteria = data_raw.loc[data_raw["humidity"] < humidity_limit, :]
w_criteria = w_criteria.loc[w_criteria["wind_speed"] < wind_speed_limit, :]
w_criteria = w_criteria.loc[w_criteria["cloudiness"] < cloudiness_limit, :]
w_criteria = w_criteria.loc[(w_criteria["max_temp"] > max_temp_min) & (data_raw["max_temp"] < max_temp_max), :]
w_criteria

,city,cloudiness,country,date,humidity,lat,lng,max_temp,wind_speed
109,Salalah,0,OM,1619134885,69,17.0151,54.0924,80.60,3.44
149,Yangjiang,0,CN,1619134943,78,21.8500,111.9667,76.53,2.57
218,Doha,0,QA,1619135045,53,25.2867,51.5333,82.99,1.14
324,Noumea,0,NC,1619135198,74,-22.2763,166.4572,82.00,3.44

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [102]:
hotel_df = w_criteria
hotel_df["Hotel Name"] = ""
hotel_df

,city,cloudiness,country,date,humidity,lat,lng,max_temp,wind_speed,Hotel Name
109,Salalah,0,OM,1619134885,69,17.0151,54.0924,80.60,3.44,
149,Yangjiang,0,CN,1619134943,78,21.8500,111.9667,76.53,2.57,
218,Doha,0,QA,1619135045,53,25.2867,51.5333,82.99,1.14,
324,Noumea,0,NC,1619135198,74,-22.2763,166.4572,82.00,3.44,

In [86]:
#hotels = []
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}
for index, row in hotel_df.iterrows():
    lat = row["lat"]
    lng = row["lng"]
    city = row["city"]
    params["location"] = f"{lat},{lng}"
    
    
    print(f"Getting results for {index}: {city} with {lat},{lng}.")
    response = requests.get(base_url, params=params).json()
    results = response['results']
    #Save the hotel name to the dataframe
    try:
        print(f"Closest hotel in {city} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
    except (KeyError, IndexError):
        print("Could not find result")
        print("-------------------------")
        #delay the code by one second to avoid an error
        #time.sleep(1)

Getting results for 109: Salalah with 17.0151,54.0924.
Closest hotel in Salalah is HAMDAN PLAZA HOTEL SALALAH.
Getting results for 149: Yangjiang with 21.85,111.9667.
Closest hotel in Yangjiang is HUALUXE Yangjiang City Center.
Getting results for 218: Doha with 25.2867,51.5333.
Closest hotel in Doha is The Curve Hotel.
Getting results for 324: Noumea with -22.2763,166.4572.
Closest hotel in Noumea is Hilton Noumea La Promenade Residences.

In [104]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
param = {

    "type": "lodging",
    "radius": 5000,
    "key": g_key
    
}

for index, row in hotel_df.iterrows():
    
    #city = row["city"]
    #locations = row[["lat", "lng"]]
    #param["location"] = locations

    lat = row["lat"]
    lng = row["lng"]
    city = row["city"]
    param["location"] = f"{lat},{lng}"
    

        
    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city}")
    response = requests.get(base_url, params=param).json()
    
    # extract results
    results = response["results"]
    
    
    try:
        print(f"Closest Hotel in {city} is {results[0]['name']}.")
        
        row["Hotel Name"] = results[0]['name']
    
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 109: Salalah
Closest Hotel in Salalah is HAMDAN PLAZA HOTEL SALALAH.
------------
Retrieving Results for Index 149: Yangjiang
Closest Hotel in Yangjiang is HUALUXE Yangjiang City Center.
------------
Retrieving Results for Index 218: Doha
Closest Hotel in Doha is Movenpick Hotel Doha.
------------
Retrieving Results for Index 324: Noumea
Closest Hotel in Noumea is Hôtel Le Lagon.
------------

In [105]:
hotel_df.head()

,city,cloudiness,country,date,humidity,lat,lng,max_temp,wind_speed,Hotel Name
109,Salalah,0,OM,1619134885,69,17.0151,54.0924,80.60,3.44,HAMDAN PLAZA HOTEL SALALAH
149,Yangjiang,0,CN,1619134943,78,21.8500,111.9667,76.53,2.57,HUALUXE Yangjiang City Center
218,Doha,0,QA,1619135045,53,25.2867,51.5333,82.99,1.14,Movenpick Hotel Doha
324,Noumea,0,NC,1619135198,74,-22.2763,166.4572,82.00,3.44,Hôtel Le Lagon

In [142]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["lat", "lng"]]

In [143]:
# Add marker layer ontop of heat map



fig.add_layer(gmaps.marker_layer(locations, info_box_content=hotel_info))


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))